/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 *= require_tree .
 *= require_self
 */

html {
  font-size:16px;
  height:100%;
  body {
  	background:url("AR_ES_MEX_LATAM_3.jpg") center top no-repeat;
  	background-size:cover;
	  font:normal 62.5% Arial, sans-serif;
	  height:100%;
	  margin:0;
	}
}
.navbar {
	background-color:white;
	border-bottom: 1px solid rgba(0,0,0,0.05);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    /* text-align:center; */
    width:100%;
    ul {
    	list-style:none;
    	margin:0 auto;
    	padding:0;
    	max-width:1024px;
    	width:100%;
    	li {
    		display:inline-block;
    		vertical-align:top;
    	}
    	a {
    		color:#2b7bb9;
    		display:block;
    		font-size:1.3em;
    		padding:10px;
    		text-decoration:none;
    	}
    }
}

.container {
	margin:12em auto 0 auto;
	max-width:838px;
	width:100%;
	.introduction {
		color:white;
		display:inline-block;
		width:62.052505966%;
		h1 {
			font:bold 3.8em Arial, sans-serif;
			margin-top: 0;
		}
		p.text {
			font:300 2.1em Arial, sans-serif;
			line-height: 1.3em;
    		width: 90.384615384%;
		}	}
	.forms {
		display:inline-block;
		margin-left:0.9375em;
		vertical-align:top;
		width:36.038186157%;
		div {
			background-color:white;
			border-radius:0.4em;
			display:inline-block;
			margin-bottom:1.1em;
			h2 {
				border-bottom:1px solid #e1e8ed;
				margin:0;
				padding:10px 12px;
				span{
					color:#66757f;
					font:300 1.06667em Arial, sans-serif;
				}
			}
			form {
				display:block;
				margin:12px 12px 10px;
				width:92.052980132%;
				input[type=text], input[type=password] {
					border:1px solid #ccd6dd;
					border-radius:3px;
					box-shadow:inset 0 1 px 0 #eee, #fff 0 1px 0;
					color:#292f33;
					font-size:1.3em;
					line-height: 20px;
					margin-bottom:15px;
					outline:none;
					padding:4px;
					width:96.40287769784173%;
					&:focus {
						border:1px solid rgba(112,188,114, 1);
						box-shadow:0 0 8px rgba(112, 188, 114, .7);
					}
				}
				input[type="submit"] {
					background-color:#55acee;
					border:1px solid #3b88c3;
					border-radius:4px;
					color:white;
					font-size:1.4em;
					font-weight:bold;
					height:30px;
					margin-left:5px;
					width:45.323741007%;
					&:hover {
						background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
					}
				}
				.medium {
					display:inline-block;
					vertical-align:top;
					width:48.561151079% !important;
				}
				label {
					color:#8899a6;
					font-size:1.2em;
				}
				a {
					color:#0084b4;
					font-size:1.2em;
					text-decoration:none;
					&:hover {
						text-decoration:underline;	
					}
				}
				span {
					margin:0 1px 0 2px;
				}
			}
			.signup {
				display:inline-block;
				input[type="text"], input[type="password"] {
					margin-bottom:6px;
				}
				input[type="submit"] {
					background-color:#ffac33;
					background-image:linear-gradient(#ffcc4d,#ffac33);
					border-color:#f1a021;
					color:#292f33;
					float:right;
					text-shadow:0 1px 0 rgba(255,255,255,0.5);
					width:60.43165467625899%;
					&:hover {
						background-image:linear-gradient(#ffcc4d,#e99110);
					}
				}
			}
		}
	}
	.tweet {
		color:white;
		font-size:1.4em;
		width:520px;
		.data {
		font-size:0.92857142857143em;
		text-decoration:underline;
		}
	}
}
@media all and (max-width:800px) {
	body {
		background:url("AR_ES_MEX_LATAM_1.jpg") center top no-repeat;
		background-size:cover;
	}
	.container {
		.introduction {
			h1 {
				font-size:2.2em;
				margin-left:16px;
			}
			p.text {
				font:300 1.3em Arial, sans-serif;
				line-height:1.5;
				margin-left:16px;
			}
		}
	}
}











