<div class="container">
	<section class="introduction">
		<div class="txtintro">
			<h1>Bienvenido a Twitter.</h1>
			<p>Conéctate con tus amigos y otras personas fascinantes. Obtén actualizaciones instantáneas de las cosas que te interesan. Mira los eventos que se están desarrollando, en tiempo real, desde todos los ángulos.</p>
		</div>
		<div class="tweet">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porttitor nisi ut neque dapibus aliquam. Suspendisse odio ligula, placerat et</p>
			<p class="data">Tweet y foto de anónimo</p>
			<p class="data">5:25PM - 28 nov 2014</p>
		</div>
	</section><!-- Hack para eliminar el espacio que se genra cuando se usa display: inline block
	
	--><section class="forms">
		<div>
			<form action="/login" method="post">
				<input type="text" placeholder="Correo electrónico">
				<input type="password" placeholder="Contraseña">
				<input type="submit" value="Iniciar sesión">
			</form>
		</div>
	
		<div>
			<h2>¿Eres nuevo en Twitter? <span>Regístrate</span></h2>
			<form action="/signup" method="post">
				<input type="text" placeholder="Nombre completo">
				<input type="text" placeholder="Correo electrónico">
				<input type="password" placeholder="Contraseña">
				<input type="submit" value="Regístrate en Twitter">
			</form>
		</div>
	</section>
</div>